:root {
    --j-navy-10: #111217;
    --j-navy-20: #1a1c24;
    --j-navy-30: #232530;
    --j-navy-40: #2d303e;
    --j-navy-50: #36394a;
    --j-navy-60: #3f4357;

    --j-grey-10: #4b4f64;
    --j-grey-20: #575b71;
    --j-grey-30: #63687f;
    --j-grey-40: #70758c;
    --j-grey-50: #7e8299;
    --j-grey-60: #8c90a6;

    --j-white-10: #9a9fb4;
    --j-white-20: #a9adc1;
    --j-white-30: #b9bcce;
    --j-white-40: #c9ccdb;
    --j-white-50: #d9dce9;
    --j-white-60: #eaecf6;

    --j-teal-10: #1a3a38;
    --j-teal-20: #1a4f4b;
    --j-teal-30: #14625c;
    --j-teal-40: #14766e;
    --j-teal-50: #14867d;
    --j-teal-60: #17998e;
    --j-teal-d10: #1b2f2e;
    --j-teal-d20: #74afaa;


    --j-blue-10: #10425b;
    --j-blue-20: #17506c;
    --j-blue-30: #1f5f7f;
    --j-blue-40: #246b8f;
    --j-blue-50: #2e7ca3;
    --j-blue-60: #388db7;
    --j-blue-d10: #1b3b4c;
    --j-blue-d20: #6eaccc;

    --j-purple-10: #43316d;
    --j-purple-20: #533d86;
    --j-purple-30: #6045a0;
    --j-purple-40: #6f4fb6;
    --j-purple-50: #7b56d0;
    --j-purple-60: #865de6;
    --j-purple-d10: #352853;
    --j-purple-d20: #a18bd0;

    --j-pink-10: #6a1b43;
    --j-pink-20: #841f51;
    --j-pink-30: #9d1f5e;
    --j-pink-40: #b92971;
    --j-pink-50: #cf3582;
    --j-pink-60: #e34996;
    --j-pink-d10: #4f1c35;
    --j-pink-d20: #d279a6;

    --j-green-10: #224628;
    --j-green-20: #295931;
    --j-green-30: #2e6637;
    --j-green-40: #367340;
    --j-green-50: #387f44;
    --j-green-60: #3c914a;
    --j-green-d10: #234629;
    --j-green-d20: #73b97e;

    --j-red-10: #681616;
    --j-red-20: #7f1c1c;
    --j-red-30: #972424;
    --j-red-40: #af2c2c;
    --j-red-50: #c63535;
    --j-red-60: #de3d3d;
    --j-red-d10: #790505;
    --j-red-d20: #ff8282;

    --j-orange-10: #AE5B21;
    --j-orange-20: #CA6926;
    --j-orange-30: #D37230;
    --j-orange-40: #DB8142;
    --j-orange-50: #DB8950;
    --j-orange-60: #DB915D;
    --j-orange-d10: #7a2c07;
    --j-orange-d20: #f79b70;

    --j-yellow: #edbb38;

    --j-yellow-10: #AD7F0B;
    --j-yellow-20: #C79512;
    --j-yellow-30: #D8A72B;
    --j-yellow-40: #EDBB38;
    --j-yellow-50: #F6C344;
    --j-yellow-60: #F9CB56;
    --j-yellow-d10: #75570a;
    --j-yellow-d20: #f3d075;
}
