@use "../../00-foundations/colours/theme.toolkit" as *;
@use "../../00-foundations/size-and-spacing/size-and-spacing.toolkit" as *;
@use "../../00-foundations/borders/borders.toolkit" as *;
@use "../../00-foundations/colours/colours.toolkit" as *;
@use "../../00-foundations/typography/typography.toolkit" as *;


@mixin form-element() {
    display: block;
    margin-top: $j-size-0-5;
    background: transparent;
    border: $j-border-width-md solid $j-c-blueGrey-300;
    border-radius: $j-border-radius-md;
    padding: $j-size-0-5;
    outline: none;
    color: $j-c-primary-text;
    width: 100%;
    font-size: $j-text-size-sm;

    &:hover {
      border-color: $j-c-blueGrey-600;
    }

    &:focus {
      border-color: $j-c-primary;
    }

    &--error {
        border-color: $j-c-red-500;

        &:hover {
            border-color: $j-c-red-700;
        }
    }
}
