:root {
    --j-animate-ease-in: cubic-bezier(0.4, 0, 0.7, 0.2);
    --j-animate-ease-out: cubic-bezier(0, 0, 0.2, 1);
    --j-animate-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --j-animate-linear: linear;
    --j-animate-spin: spin var(--j-duration-slow) infinite linear;

    --j-duration-fast: 0.2s;
    --j-duration-medium: 0.5s;
    --j-duration-slow: 1s;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.j-animate-spin {
    animation: var(--j-animate-spin);
}
