@use "../../../../00-foundations/colours/colours.toolkit" as *;
@use "../../../../00-foundations/typography/typography.toolkit" as *;
@use "../../../../00-foundations/size-and-spacing/size-and-spacing.toolkit" as *;

.j-error-text {
  color: $j-c-red-500;
  font-style: italic;
  margin-top: $j-size-0-25;
  font-size: $j-text-size-sm;
}
