@use "../../../../00-foundations/colours/colours.toolkit" as *;
@use "../../../../00-foundations/typography/typography.toolkit" as *;
@use "../../../../00-foundations/size-and-spacing/size-and-spacing.toolkit" as *;

.j-error-text {
  color: var(--j-c-red-500);
  font-style: italic;
  margin-top: var(--j-size-0-25);
  font-size: var(--j-text-size-sm);
}
