@use "../form-element.toolkit" as *;
@use "../../../00-foundations/colours/variants/variants.toolkit" as *;

.j-multiselect {
  @include form-element();

  &__element {
    display: flex;
    position: relative;
    padding: 5px;
  }

  &--minimal {
    .j-multiselect__element {
      border-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }

    .j-multiselect__toggle {
      display: none;
    }
  }

  &__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--j-space-2);
  }

  &__input {
    flex-grow: 1;
    background: transparent;
    border: none;
    font-family: var(--j-text-font-primary);
    font-size: var(--j-text-size-rg);
    color: var(--j-c-text);
    padding: var(--j-space-2);
    margin-top: 2px;

    &:focus-visible {
      outline: none;
    }
  }

  &__toggle {
    background: transparent;
    border: none;
    color: inherit;

    &:hover {
      cursor: pointer;
    }
  }

  &__menu {
    width: fit-content;
    max-height: 200px;
    overflow: scroll;
    z-index: var(--j-z-layer-5);
    background-color: var(--j-c-background-f1);
    border-radius: var(--j-border-radius-md);
    border: var(--j-border-width-md) solid var(--j-c-blueGrey-800);
    padding: var(--j-space-3);
    gap: var(--j-space-3);
    flex-direction: column;
    box-shadow: var(--j-shadow-lg);

    display: none;
    &--open {
      display: flex;
    }
  }

  &__menu-item {
    display: block;
    background-color: var(--j-c-primary);
    color: var(--j-c-primary-text);
    padding: var(--j-space-4) var(--j-space-4);
    border-radius: var(--j-border-radius-md);

    @include colour-variants();

    &--highlighted {
      background-color: var(--j-c-primary-interaction);

      @include colour-variants-manual-interaction("&.j-multiselect__menu-item");
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__menu-empty-item {
    padding: var(--j-space-4);
  }
}
