.j-icon {
  width: var(--j-icon-size-rg);
  height: var(--j-icon-size-rg);

  svg {
    width: 100%;
    height: 100%;
  }

  &--xs {
    width: var(--j-icon-size-xs);
    height: var(--j-icon-size-xs);
  }
  &--sm {
    width: var(--j-icon-size-sm);
    height: var(--j-icon-size-sm);
  }
  &--md {
    width: var(--j-icon-size-md);
    height: var(--j-icon-size-md);
  }
  &--lg {
    width: var(--j-icon-size-lg);
    height: var(--j-icon-size-lg);
  }
  &--xl {
    width: var(--j-icon-size-xl);
    height: var(--j-icon-size-xl);
  }

  &--teal {
    color: var(--j-c-variant-teal);
  }
  &--white {
    color: var(--j-c-variant-white);
  }
  &--blueGrey {
    color: var(--j-c-variant-blueGrey);
  }
  &--red {
    color: var(--j-c-variant-red);
  }
  &--green {
    color: var(--j-c-variant-green);
  }
  &--orange {
    color: var(--j-c-variant-orange);
  }
  &--yellow {
    color: var(--j-c-variant-yellow);
  }
  &--blue {
    color: var(--j-c-variant-blue);
  }
  &--purple {
    color: var(--j-c-variant-purple);
  }
  &--pink {
    color: var(--j-c-variant-pink);
  }
}
