.j-icon {
  color: var(--j-c-mono-50);
  width: var(--j-icon-size-rg);
  height: var(--j-icon-size-rg);

  svg {
    width: 100%;
    height: 100%;
  }

  &--xs {
    width: var(--j-icon-size-xs);
    height: var(--j-icon-size-xs);
  }
  &--sm {
    width: var(--j-icon-size-sm);
    height: var(--j-icon-size-sm);
  }
  &--md {
    width: var(--j-icon-size-md);
    height: var(--j-icon-size-md);
  }
  &--lg {
    width: var(--j-icon-size-lg);
    height: var(--j-icon-size-lg);
  }
  &--xl {
    width: var(--j-icon-size-xl);
    height: var(--j-icon-size-xl);
  }
  &--2xl {
    width: var(--j-icon-size-2xl);
    height: var(--j-icon-size-2xl);
  }
  &--3xl {
    width: var(--j-icon-size-3xl);
    height: var(--j-icon-size-3xl);
  }
  &--4xl {
    width: var(--j-icon-size-4xl);
    height: var(--j-icon-size-4xl);
  }


  &--blueGrey {
    color: var(--j-c-blueGrey-700);
  }
  &--red {
    color: var(--j-c-red-500);
  }
  &--green {
    color: var(--j-c-green-500);
  }
  &--orange {
    color: var(--j-c-orange-500);
  }
  &--yellow {
    color: var(--j-c-yellow-500);
  }
  &--blue {
    color: var(--j-c-blue-500);
  }
  &--purple {
    color: var(--j-c-purple-500);
  }
  &--pink {
    color: var(--j-c-pink-500);
  }
}
