@use "../form-element.toolkit" as *;
@use "../../../00-foundations/colours/variants/variants.toolkit" as *;
@use "../../../02-components/badge/badge" as *;


.j-multiselect {
  @include form-element();

  display: flex;
  position: relative;
  padding: 5px;

  &__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--j-space-2);
  }

  &__input {
    flex-grow: 1;
    background: transparent;
    border: none;
    font-family: var(--j-text-font-primary);
    font-size: var(--j-text-size-rg);
    color: var(--j-c-text);
    padding: var(--j-space-2);
    margin-top: 2px;

    &:focus-visible {
      outline: none;
    }
  }

  &__toggle {
    background: transparent;
    border: none;
    color: inherit;

    &:hover {
      cursor: pointer;
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: var(--j-space-4);
    background-color: var(--j-c-background-f1);
    border-radius: var(--j-border-radius-md);
    border: 2px solid var(--j-c-blueGrey-500);
    display: flex;
    flex-wrap: wrap;
    gap: var(--j-space-2);
    padding: 5px;
  }

  &__menu-item {
    display: inline-block;
    background-color: var(--j-c-primary);
    color: var(--j-c-primary-text);
    padding: var(--j-space-4) var(--j-space-4);
    border-radius: var(--j-border-radius-md);

    @include colour-variants();

    &--highlighted {
      background-color: var(--j-c-primary-interaction);

      @include colour-variants-manual-interaction('&.j-multiselect__menu-item');
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__menu-empty-item {
    padding: var(--j-space-4);
  }
}
