@use "../../00-foundations/colours/theme.toolkit" as *;
@use "../../00-foundations/borders/borders.toolkit" as *;
@use "../../00-foundations/typography/typography.toolkit" as *;
@use "../../00-foundations/size-and-spacing/size-and-spacing.toolkit" as *;


.j-table {
  background-color: var(--j-c-background-f1);
  color: $j-c-text;
  width: 100%;
  margin-bottom: $j-size-1;
  border-radius: var(--j-border-radius-sm);
  line-height: 1.5;

  thead {
    tr {
      border-bottom: var(--j-border-width-lg) solid var(--j-c-primary);
    }
  }

  th {
    font-weight: bold;
    text-align: left;
    padding: var(--j-size-0-75);
  }

  td {
    padding: var(--j-size-0-75);
    vertical-align: middle;
  }

  tbody {
    tr:nth-child(2n) {
      background-color: $j-c-background-f0;
    }
  }
}
