
j-prose {
  p {
    font-size: var(--j-text-size-rg);
    margin-bottom: var(--j-size-1);
    color: var(--j-whiteGrey-200);
    line-height: 2;
  }

  strong,
  b {
    font-weight: bold;
    color: var(--j-whiteGrey-100);
  }

  em,
  i {
    font-style: italic;
    color: var(--j-whiteGrey-100);
  }

  h1 {
    font-size: var(--j-text-size-4xl);
    color: var(--j-whiteGrey-100);
    font-weight: bold;
    margin-top: var(--j-size-2);
    margin-bottom: var(--j-size-1);
    line-height: 1.25;
  }

  h2 {
    font-size: var(--j-text-size-3xl);
    color: var(--j-whiteGrey-100);
    font-weight: bold;
    margin-top: var(--j-size-2);
    margin-bottom: var(--j-size-0-5);
    line-height: 1.38;
  }

  h3 {
    font-size: var(--j-text-size-xl);
    color: var(--j-whiteGrey-100);
    font-weight: bold;
    line-height: 1.5;
    margin-top: var(--j-size-1-5);
    margin-bottom: var(--j-size-0-5);
  }

  h4 {
    font-size: var(--j-text-size-lg);
    color: var(--j-whiteGrey-100);
    font-weight: bold;
    line-height: 1.75;
    margin-top: var(--j-size-0-75);
    margin-bottom: var(--j-size-0-25);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  blockquote {
    border-left: var(--j-border-width-xl) solid var(--j-teal-600);
    display: block;
    padding: var(--j-size-0-75);
    padding-left: var(--j-size-1);
    background-color: var(--j-atom-500);
    font-style: italic;
    margin-bottom: var(--j-size-1);
    border-top-right-radius: var(--j-border-radius-sm);
    border-bottom-right-radius: var(--j-border-radius-sm);

    p {
      margin-bottom: 0;
    }
  }

  figcaption {
    border-top: var(--j-border-width-lg) solid var(--j-teal-600);
    background-color: var(--j-atom-500);
    font-size: var(--j-text-size-sm);
    font-style: italic;
    color: var(--j-whiteGrey-200);
    padding: var(--j-size-0-75);
    line-height: 1.5;
    margin-bottom: var(--j-size-1);
    border-bottom-left-radius: var(--j-border-radius-sm);
    border-bottom-right-radius: var(--j-border-radius-sm);
  }

  code {
    font-family: monospace;
    background-color: var(--j-atom-800);
    padding: var(--j-size-0-25) var(--j-size-0-5);
    border-radius: var(--j-border-radius-sm);
    color: var(--j-whiteGrey-200);
  }

  pre {
    margin-bottom: var(--j-size-1);

    code {
      font-size: var(--j-text-size-sm);
      padding: var(--j-size-1);
      display: block;
      overflow: scroll;
      color: var(--j-whiteGrey-200);
    }
  }

  a {
    color: var(--j-whiteGrey-200);
    text-decoration-color: var(--j-teal-600);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: var(--j-teal-600);

      // Ensure the hover styles still applies when a <code> tag is within the link
      code {
        color: var(--j-teal-600);
      }
    }
  }

  li {
    color: var(--j-whiteGrey-200);

    &::marker {
      color: var(--j-teal-600);
    }
  }

  ul {
    margin-left: 20px;
    list-style-type: disc;
    margin-bottom: var(--j-size-1);
    line-height: 1.5;

    li {
      &::marker {
        font-size: var(--j-text-size-xl);
      }
    }
  }

  ol {
    margin-left: 20px;
    list-style: decimal;
    margin-bottom: var(--j-size-1);
    line-height: 1.5;

    li {
      margin-bottom: var(--j-size-0-5);

      &::marker {
        font-weight: bold;
      }
    }
  }

  hr {
    border: var(--j-border-width-lg) solid var(--j-atom-500);
    border-radius: var(--j-border-radius-sm);
    margin-top: var(--j-size-2);
    margin-bottom: var(--j-size-2);
  }

  table {
    background-color: var(--j-atom-500);
    color: var(--j-whiteGrey-200);
    width: 100%;
    margin-bottom: var(--j-size-1);
    border-radius: var(--j-border-radius-sm);

    thead {
      tr {
        border-bottom: var(--j-border-width-lg) solid var(--j-teal-600);
      }
    }

    th {
      font-weight: bold;
      text-align: left;
      padding: var(--j-size-0-75);
    }

    td {
      padding: var(--j-size-0-75);
    }

    tbody {
      tr:nth-child(2n) {
        background-color: var(--j-atom-600);
      }
    }
  }
}
