
@mixin form-element() {
  display: block;
  margin-top: var(--j-spacing-0-5);
  background: transparent;
  border: var(--j-border-width-md) solid var(--j-c-blueGrey-300);
  border-radius: var(--j-border-radius-md);
  padding: var(--j-spacing-0-625);
  outline: none;
  color: var(--j-c-primary-text);
  width: 100%;
  font-size: var(--j-text-size-sm);

  &:hover {
    border-color: var(--j-c-blueGrey-600);
  }

  &:focus {
    border-color: var(--j-c-primary);
  }

  &--error,
  &:invalid {
    border-color: var(--j-c-red-500);

    &:hover {
        border-color: var(--j-c-red-700);
    }
  }
}
