
.j-tooltip {
  &:hover {
    cursor: pointer;
  }

  &__popup {
    border-radius: var(--j-border-radius-sm);
    padding: var(--j-space-5);
    background-color: var(--j-c-background-f2);
    user-select: none;
    box-shadow: var(--j-shadow-md);
    z-index: var(--j-z-layer-5);
    max-width: 350px;

    .j-prose {
      & > * {
        font-size: var(--j-text-size-sm);
        line-height: 1.5;
      }

      & > :last-child {
        margin-bottom: 0;
      }
    }

    &--dark {
      background-color: var(--j-c-slate-800);

      .j-tooltip__arrow {
        fill: var(--j-c-slate-800);
      }
    }
  }

  &__arrow {
    fill: var(--j-c-background-f2);
    z-index: var(--j-z-layer-5);
  }
}
