
@use "00-foundations/borders/borders.development";
@use "00-foundations/colours/colours.development";
@use "00-foundations/layers/layers.development";
@use "00-foundations/spacing/spacing.development";
@use "00-foundations/typography/typography.development";

@use "02-components/prose/prose";
@use "03-templates/content-section/content-section";


.j-dev-story-section {
  margin-bottom: var(--j-spacing-1);

  &__label {
    color: var(--j-c-blueGrey-700);
    font-weight: bold;
  }

  &__content {
    margin-top: var(--j-spacing-0-25);
    border: var(--j-border-width-md) dashed var(--j-c-blueGrey-700);
    border-radius: var(--j-border-radius-md);
    padding: var(--j-spacing-1);
  }

  &__info {
    font-style: italic;
    margin-top: var(--j-spacing-0-25);
    color: var(--j-c-blueGrey-700);
    font-size: var(--j-text-size-sm);
  }
}
