
//@use "_development/mandelbrot-overrides";
//@use "_development/j-d-label";


@use "00-foundations/borders/borders.development";
@use "00-foundations/colours/colours.development";
@use "00-foundations/elevation-and-depth/elevation-and-depth.development";
@use "00-foundations/spacing/spacing.development";
@use "00-foundations/typography/typography.development";

@use "02-components/prose/prose";
@use "02-components/badge/badge";

.j-d-label {
  margin-top: 12px;
  margin-bottom: 4px;
  color: #aaa;
  font-style: italic;
}
