/**
=============================
  Foundations and Variables
=============================
 */
@use "00-foundations/reset";

@use "00-foundations/borders/borders.vars";
@use "00-foundations/breakpoints/breakpoints.vars";
@use "00-foundations/colours/colours.vars";
@use "00-foundations/colours/theme.vars";
@use "00-foundations/layers/layers.vars";
@use "00-foundations/motion/motion.vars";
@use "00-foundations/spacing/spacing.vars";
@use "00-foundations/typography/typography.vars" as *;
@use "00-foundations/typography/typography" as *;

@use "01-atoms/hidden/hidden";
@use "01-atoms/icons/icons.vars" as *;
@use "01-atoms/icons/icons" as *;

/**
===================================
  Atoms, Components and Templates
===================================
 */
@use "01-atoms/button/button";
@use "01-atoms/links/arrow-link/arrow-link";
@use "01-atoms/links/button-link/button-link";
@use "01-atoms/links/text-link/text-link";

@use "01-atoms/form-elements/error-text/error-text";
@use "01-atoms/form-elements/input/input";
@use "01-atoms/form-elements/label/label";
@use "01-atoms/form-elements/select/select";
@use "01-atoms/form-elements/textarea/textarea";

@use "01-atoms/form-controls/multiselect/multiselect";

@use "02-components/accordion/accordion";
@use "02-components/badge/badge";
@use "02-components/tag/tag";
@use "02-components/callout/callout";
@use "02-components/prose/prose";
@use "02-components/table/table";
@use "02-components/counter/counter";

@use "03-layouts/content-section/content-section";
@use "03-layouts/button-group/button-group";
@use "03-layouts/form/form";

/**
=================
  Global Styles
=================
 */
html {
  background-color: var(--j-c-background);
  color: var(--j-c-text);
}

* {
  box-sizing: border-box;
}
