/**
=============================
  Foundations and Variables
=============================
 */
@use "00-foundations/reset";

@use "00-foundations/borders/borders.vars";
@use "00-foundations/breakpoints/breakpoints.vars";
@use "00-foundations/colours/colours.vars";
@use "00-foundations/colours/variants/variants.vars";
@use "00-foundations/colours/theme/theme.vars";
@use "00-foundations/layers/layers.vars";
@use "00-foundations/motion/motion.vars";
@use "00-foundations/spacing/spacing.vars";
@use "00-foundations/typography/typography.vars" as *;
@use "00-foundations/typography/typography" as *;

@use "01-atoms/hidden/hidden";
@use "01-atoms/icons/icons.vars" as *;
@use "01-atoms/icons/icons" as *;

/**
===================================
  Atoms, Components and Templates
===================================
 */
@use "01-atoms/button/button";
@use "01-atoms/links/arrow-link/arrow-link";
@use "01-atoms/links/button-link/button-link";
@use "01-atoms/links/text-link/text-link";

@use "01-atoms/forms/error-text/error-text";
@use "01-atoms/forms/label/label";
@use "01-atoms/forms/input/input";
@use "01-atoms/forms/textarea/textarea";
@use "01-atoms/forms/select/select";
@use "01-atoms/forms/multiselect/multiselect";

@use "01-atoms/pills/pill/pill";
@use "01-atoms/pills/tag/pill-tag";

@use "02-components/accordion/accordion";
@use "02-components/callout/callout";
@use "02-components/prose/prose";
@use "02-components/table/table";
@use "02-components/counter/counter";

@use "03-organisms/button-group/button-group";

@use "04-layouts/content-section/content-section";
@use "04-layouts/form/form";
@use "04-layouts/panel-page/panel-page";

/**
=================
  Global Styles
=================
 */
html {
  background-color: var(--j-c-background);
  color: var(--j-c-text);
}

* {
  box-sizing: border-box;
}

// Ensure fonts are applied to buttons by default
button {
  font: inherit;
  letter-spacing: inherit;
}
