@use "../../00-foundations/colours/variants/variants.toolkit" as *;


.j-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: var(--j-c-primary);
  color: var(--j-c-mono-50);
  padding: var(--j-space-1) var(--j-space-4);
  border-radius: var(--j-border-radius-md);

  &__remove-button {
    background-color: transparent;
    border: none;
    color: inherit;

    // This spacing makes room for the remove button while making sure
    // the tag height matches the badge component height
    padding: 0;
    margin: var(--j-space-2) 0 var(--j-space-2) 6px;

    &:hover,
    &:focus-visible {
      color: var(--j-c-mono-300);
      cursor: pointer;
    }

    &:focus-visible {
      outline: 2px solid var(--j-c-mono-50);
      border-radius: var(--j-border-radius-sm);
    }
  }

  @include colour-variants();

  &--white,
  &--yellow {
    .j-tag__remove-button {
      &:hover,
      &:focus-visible {
        color: var(--j-c-mono-400);
      }

      &:focus-visible {
        outline-color: var(--j-c-mono-900);
      }
    }
  }
}
