@use "../../00-foundations/breakpoints/breakpoints.toolkit" as *;

@include breakpoint('md') {
  .background-layers {
    display: flex;
  }
}

.background-layers__f1 {
  background-color: var(--j-c-slate-600);
}

.background-layers__f2 {
  background-color: var(--j-c-slate-500);
}