@use "../../00-foundations/colours/theme.toolkit" as *;
@use "../../00-foundations/colours/colours.toolkit" as *;
@use "../../00-foundations/elevation-and-depth/elevation-and-depth.toolkit" as *;
@use "../../00-foundations/borders/borders.toolkit" as *;
@use "../../00-foundations/size-and-spacing/size-and-spacing.toolkit" as *;
@use "../../02-components/prose/prose";

.j-callout {
  display: flex;
  background-color: var(--j-c-background-f1);
  box-shadow: var(--j-shadow-sm);
  border: var(--j-border-width-md) solid $j-c-info;
  color: $j-c-text;
  margin: $j-size-1 0;

  &__icon {
    background-color: $j-c-info;
    padding: $j-size-0-5;
    display: flex;
    justify-items: center;
    align-items: center;
    color: $j-c-mono-50;
  }

  &__content {
    padding: $j-size-0-75;

    @extend .j-prose;

    // Remove the last child's bottom margin to ensure there's not a big gap at the bottom
    // and the callouts vertical padding is consistent.
    :last-child {
      margin-bottom: 0;
    }
  }

  &--warning {
    border-color: $j-c-warning;

    .j-callout__icon {
      background-color: $j-c-warning;
    }
  }

  &--danger {
    border-color: $j-c-danger;

    .j-callout__icon {
      background-color: $j-c-danger;
    }
  }

}