.j-arrow {
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: bold;
  font-family: var(--j-text-font-primary);
  font-size: var(--j-text-size-rg);
  line-height: 1;
  letter-spacing: var(--j-text-letter-spacing);
  text-decoration: underline;
  text-decoration-color: var(--j-c-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  color: var(--j-c-text-emphasis);

  &:hover,
  &:focus-visible {
    color: var(--j-c-primary);
    cursor: pointer;
  }

  &:focus-visible {
    outline: 2px solid var(--j-c-mono-50);
    outline-offset: 2px;
    border-radius: var(--j-border-radius-sm);
  }

  &__icon-left {
    display: none;
    padding-right: var(--j-space-2);
  }

  &__icon-right {
    padding-left: var(--j-space-2);
  }

  &--left {
    .j-arrow__icon-left {
      display: block;
    }

    .j-arrow__icon-right {
      display: none;
    }
  }

  &--minimal {
    text-decoration: none;
  }
}
