@import "../../00-foundations/breakpoints/breakpoints.toolkit";

.j-dialog {
  &__inner {
    display: flex;
    flex-direction: column-reverse;
  }

  &__content {
    padding-top: var(--j-space-4);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--j-border-width-md) solid var(--j-c-blueGrey-900);
    padding-bottom: var(--j-space-4);
  }

  &__overlay {
    background: var(--j-c-atom-900);
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    overflow-y: auto;
  }

  &__popup {
    background-color: var(--j-c-background-f1);
    border-radius: var(--j-border-radius-md);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - (var(--j-space-4) * 2));
    max-width: 600px;
    max-height: 85vh;
    padding: var(--j-space-4);
    z-index: var(--j-z-layer-4);
    border: var(--j-border-width-md) solid var(--j-c-blueGrey-900);

    @include breakpoint('md') {
      padding: var(--j-space-8);
    }

    &:focus {
      outline: none;
    }
  }

  &__title {
    font-weight: bold;
    color: var(--j-c-text-heading);
    font-size: var(--j-text-size-md);
  }

  &__close {
    color: var(--j-c-mono-50);

    &:hover {
      cursor: pointer;
      color: var(--j-c-mono-300);
    }
  }
}
