@use "../../00-foundations/breakpoints/breakpoints.toolkit" as *;

:root {
  --j-dialog-max-width: 600px;
  --j-dialog-max-height: 85vh;
}

.j-dialog {
  &__inner {
    display: flex;
    flex-direction: column-reverse;
  }

  &__content {
    padding-top: var(--j-space-4);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--j-border-width-md) solid var(--j-c-blueGrey-900);
    padding-bottom: var(--j-space-4);
    position: sticky;
    top: 0;
    background-color: var(--j-c-background);
    padding-top: var(--j-space-4);

    // The close button creates extra space, this ensures there is still space when no icon is present.
    min-height: 50px;
  }

  &__overlay {
    background: var(--j-c-atom-900);
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    overflow-y: auto;
  }

  &__popup {
    background-color: var(--j-c-background);
    border-radius: var(--j-border-radius-md);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - (var(--j-space-4) * 2));
    max-width: var(--j-dialog-max-width);
    max-height: var(--j-dialog-max-height);
    padding: 0 var(--j-space-4) var(--j-space-4);
    z-index: var(--j-z-layer-4);
    overflow-y: scroll;
    box-shadow: var(--j-shadow-sm);

    &:focus {
      outline: none;
    }
  }

  &__title {
    font-weight: bold;
    color: var(--j-c-text-heading);
    font-size: var(--j-text-size-md);
  }

  &__close {
    color: var(--j-c-mono-50);

    &:hover {
      cursor: pointer;
      color: var(--j-c-mono-300);
    }
  }

  @include breakpoint('md') {
    &__popup {
      padding: 0 var(--j-space-8) var(--j-space-6);
    }

    &__header {
      padding-top: var(--j-space-6);
    }
  }
}
