
.j-badge {
  display: inline-block;
  background-color: var(--j-c-primary);
  color: var(--j-c-primary-text);
  padding: var(--j-space-4) var(--j-space-4);
  border-radius: var(--j-border-radius-md);

  &--blueGrey {
    background-color: var(--j-c-blueGrey-700);
  }

  &--red {
    background-color: var(--j-c-red-500);
  }

  &--green {
    background-color: var(--j-c-green-500);
  }

  &--orange {
    background-color: var(--j-c-orange-500);
  }

  &--blue {
    background-color: var(--j-c-blue-500);
  }

  &--purple {
    background-color: var(--j-c-purple-500);
  }

  &--pink {
    background-color: var(--j-c-pink-500);
  }

  &--white {
    background-color: var(--j-c-mono-50);
    color: var(--j-c-mono-900);
  }

  &--yellow {
    background-color: var(--j-c-yellow-500);
    color: var(--j-c-mono-900);
  }

  &[href] {
    text-decoration: none;

    &:hover,
    &:focus-visible {
      background-color: var(--j-c-primary-interaction);
    }

    &:focus-visible {
      outline: 2px solid var(--j-c-mono-50);
    }

    &.j-badge--white {
      &:hover,
      &:focus-visible {
        background-color: var(--j-c-mono-300);
      }
    }

    &.j-badge--blueGrey {
      &:hover,
      &:focus-visible {
        background-color: var(--j-c-blueGrey-500);
      }
    }

    &.j-badge--red {
      &:hover,
      &:focus-visible {
        background-color: var(--j-c-red-700);
      }
    }

    &.j-badge--green {
      &:hover,
      &:focus-visible {
        background-color: var(--j-c-green-700);
      }
    }

    &.j-badge--orange {
      &:hover,
      &:focus-visible {
        background-color: var(--j-c-orange-700);
      }
    }

    &.j-badge--blue {
      &:hover,
      &:focus-visible {
        background-color: var(--j-c-blue-700);
      }
    }

    &.j-badge--purple {
      &:hover,
      &:focus-visible {
        background-color: var(--j-c-purple-700);
      }
    }

    &.j-badge--pink {
      &:hover,
      &:focus-visible {
        background-color: var(--j-c-pink-700);
      }
    }

    &.j-badge--yellow {
      &:hover,
      &:focus-visible {
        background-color: var(--j-c-yellow-700);
      }
    }
  }
}
