
.j-badge {
  display: inline-block;
  background-color: var(--j-c-primary);
  color: var(--j-c-primary-text);
  padding: var(--j-spacing-0-5) var(--j-spacing-0-5);
  border-radius: var(--j-border-radius-md);

  &--blueGrey {
    background-color: var(--j-c-blueGrey-700);
  }

  &--white {
    background-color: var(--j-c-mono-50);
    color: var(--j-c-mono-900);
  }

  &--red {
    background-color: var(--j-c-red-500);
  }

  &--green {
    background-color: var(--j-c-green-500);
  }

  &--orange {
    background-color: var(--j-c-orange-500);

  }

  &--yellow {
    background-color: var(--j-c-yellow-500);
    color: var(--j-c-mono-900);
  }

  &--blue {
    background-color: var(--j-c-blue-500);
  }

  &--purple {
    background-color: var(--j-c-purple-500);
  }

  &--pink {
    background-color: var(--j-c-pink-500);
  }
}
