@use "../../00-foundations/colours/variants/variants.toolkit" as *;

.j-badge {
  display: inline-block;
  background-color: var(--j-c-primary);
  color: var(--j-c-primary-text);
  padding: var(--j-space-4) var(--j-space-4);
  border-radius: var(--j-border-radius-md);

  @include colour-variants();

  &--link {
    text-decoration: none;

    &:hover,
    &:focus-visible {
      background-color: var(--j-c-primary-interaction);
    }

    &:focus-visible {
      outline: 2px solid var(--j-c-mono-50);
    }

    @include colour-variants-interaction("&.j-badge");
  }
}
