@use "../../00-foundations/motion/motion.toolkit" as *;


@mixin button-styles() {
  padding: var(--j-spacing-0-5) var(--j-spacing-0-75);
  font-family: var(--j-text-font-primary);
  font-weight: bold;
  font-size: var(--j-text-size-sm);
  background: var(--j-c-primary);
  color: var(--j-c-primary-text);
  border-radius: var(--j-border-radius-md);
  border: var(--j-border-width-md) solid var(--j-c-primary);
  box-shadow: var(--j-shadow-md);

  &:hover {
    cursor: pointer;
    background: var(--j-c-primary-interaction);
    color: var(--j-c-primary-interaction-text);
    border-color: var(--j-c-primary-interaction);
    box-shadow: none;
  }

  &--secondary {
    background: var(--j-c-secondary);
    color: var(--j-c-secondary-text);
    border-color: var(--j-c-secondary);

    &:hover {
      background: var(--j-c-secondary-interaction);
      color: var(--j-c-secondary-interaction-text);
      border-color: var(--j-c-secondary-interaction);
    }
  }

  &--destructive {
    background: var(--j-c-destructive);
    color: var(--j-c-destructive-text);
    border-color: var(--j-c-destructive);

    &:hover {
      background: var(--j-c-destructive-interaction);
      color: var(--j-c-destructive-interaction-text);
      border-color: var(--j-c-destructive-interaction);
    }
  }

  &--tertiary {
    background: transparent;
    color: var(--j-c-tertiary);
    border-color: transparent;
    box-shadow: none;

    &:hover {
      background: transparent;
      color: var(--j-c-tertiary);
      border-color: transparent;
      text-decoration: underline;
      text-decoration-thickness: var(--j-border-width-md);
      text-underline-offset: var(--j-border-width-md);
    }

    &.j-button--loading,
    &[disabled] {
      color: var(--j-c-mono-300);

      &:hover {
        text-decoration: none;
        cursor: initial;
      }
    }
  }

  &:not(.j-button--tertiary)[disabled],
  &:not(.j-button--tertiary).j-button--loading {
    background-color: var(--j-c-disabled);
    color: var(--j-c-disabled-text);
    border-color: var(--j-c-disabled);

    &:hover,
    &.j-button:hover {
      background-color: var(--j-c-disabled);
      color: var(--j-c-disabled-text);
      border-color: var(--j-c-disabled);
      cursor: initial;
      box-shadow: var(--j-shadow-md);
      text-decoration: none;
    }
  }

  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;

    .j-icon {
      width: var(--j-text-size-rg);
      height: var(--j-text-size-rg);
      margin-left: var(--j-spacing-0-5);
      stroke-width: 3px;

      @include j-animation-spin();
    }
  }
}
