:root,
.theme-dark {
    --button-focus-outline: var(--mono-50);

    --button-primary-text: var(--j-white-60);
    --button-primary-text-interact: var(--j-white-60);
    --button-primary-bg: var(--j-teal-40);
    --button-primary-bg-interact: var(--j-teal-20);

    --button-secondary-text: var(--j-white-60);
    --button-secondary-text-interact: var(--j-white-60);
    --button-secondary-bg: transparent;
    --button-secondary-bg-interact: transparent;

    --button-destructive-text: var(--j-white-60);
    --button-destructive-text-interact: var(--j-white-60);
    --button-destructive-bg: var(--j-red-40);
    --button-destructive-bg-interact: var(--j-red-20);

    --button-disabled-text: var(--j-white-60);
    --button-disabled-bg: var(--j-grey-10);
}

@media (prefers-color-scheme: light) {
    :root {
        --button-focus-outline: var(--mono-900);
        --button-secondary-text: var(--mono-700);
        --button-secondary-text-interact: var(--mono-400);
    }
}

.theme-light {
    --button-focus-outline: var(--mono-900);
    --button-secondary-text: var(--mono-700);
    --button-secondary-text-interact: var(--mono-400);
}
