:root {
    --button-focus-outline: var(--mono-50);

    --button-text-primary: var(--mono-100);
    --button-text-primary-interact: var(--mono-100);
    --button-background-primary: var(--teal-500);
    --button-background-primary-interact: var(--teal-700);

    --button-text-secondary: var(--mono-100);
    --button-text-secondary-interact: var(--mono-200);
    --button-background-secondary: transparent;
    --button-background-secondary-interact: transparent;

    --button-text-destructive: var(--mono-100);
    --button-text-destructive-interact: var(--mono-100);
    --button-background-destructive: var(--red-500);
    --button-background-destructive-interact: var(--red-700);

    --button-text-disabled: var(--mono-100);
    --button-background-disabled: var(--mono-400);
}

.theme-light {
    --button-focus-outline: var(--mono-900);
    --button-text-secondary: var(--mono-700);
    --button-text-secondary-interact: var(--mono-400);
}
