.button {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
    padding: var(--spacing-5);
    border-radius: var(--radius-md);
    font-weight: bold;
    font-size: var(--text-sm);

    background-color: var(--color-teal-500);
    color: var(--color-mono-100);

    &:hover,
    &:focus-visible {
        cursor: pointer;
        background-color: var(--color-teal-700);
    }

    &:focus-visible {
        outline: var(--border-width-md) solid var(--color-mono-50);
    }

    &.--destructive {
        background-color: var(--color-red-500);

        &:hover,
        &:focus-visible {
            background-color: var(--color-red-700);
        }
    }

    &.--secondary {
        background-color: var(--color-mono-100);
        color: var(--color-mono-900);

        &:hover,
        &:focus-visible {
            background-color: var(--color-mono-300);
        }
    }

    &.--tertiary {
        background-color: transparent;

        &:hover,
        &:focus-visible {
            color: var(--color-mono-200);
            text-decoration: underline;
        }
    }

    &:disabled {
        background-color: var(--color-mono-400);
        color: var(--color-mono-100);

        &:hover,
        &:focus-visible {
            pointer-events: none;
            background-color: var(--color-mono-400);
        }
    }
}

.button {
    svg {
        width: var(--text-lg);
        height: var(--text-lg);
    }
}