@use "../../00-foundations/colours/theme.toolkit" as *;
@use "../../00-foundations/borders/borders.toolkit" as *;
@use "../../00-foundations/elevation-and-depth/elevation-and-depth.toolkit" as *;
@use "../../00-foundations/typography/typography.toolkit" as *;
@use "../../00-foundations/size-and-spacing/size-and-spacing.toolkit" as *;
@use "../../00-foundations/colours/colours.toolkit" as *;
@use "../../00-foundations/motion/motion.toolkit" as *;

.j-button {
  padding: $j-size-0-5 $j-size-0-75;
  font-family: $j-text-font-primary;
  font-weight: bold;
  font-size: $j-text-size-sm;
  background: $j-c-primary;
  color: $j-c-primary-text;
  border-radius: $j-border-radius-md;
  border: $j-border-width-md solid $j-c-primary;
  box-shadow: $j-shadow-md;

  &:hover {
    cursor: pointer;
    background: $j-c-primary-interaction;
    color: $j-c-primary-interaction-text;
    border-color: $j-c-primary-interaction;
    box-shadow: none;
  }

  &--secondary {
    background: $j-c-secondary;
    color: $j-c-secondary-text;
    border-color: $j-c-secondary;

    &:hover {
      background: $j-c-secondary-interaction;
      color: $j-c-secondary-interaction-text;
      border-color: $j-c-secondary-interaction;
    }
  }

  &--destructive {
    background: $j-c-destructive;
    color: $j-c-destructive-text;
    border-color: $j-c-destructive;

    &:hover {
      background: $j-c-destructive-interaction;
      color: $j-c-destructive-interaction-text;
      border-color: $j-c-destructive-interaction;
    }
  }

  &--tertiary {
    background: transparent;
    color: $j-c-tertiary;
    border-color: transparent;
    box-shadow: none;

    &:hover {
      background: transparent;
      color: $j-c-tertiary;
      border-color: transparent;
      text-decoration: underline;
      text-decoration-thickness: $j-border-width-md;
      text-underline-offset: $j-border-width-md;
    }

    &.j-button--loading,
    &[disabled] {
      color: $j-c-mono-300;

      &:hover {
        text-decoration: none;
        cursor: initial;
      }
    }
  }

  &:not(.j-button--tertiary)[disabled],
  &:not(.j-button--tertiary).j-button--loading {
    background-color: $j-c-disabled;
    color: $j-c-disabled-text;
    border-color: $j-c-disabled;

    &:hover,
    &.j-button:hover {
      background-color: $j-c-disabled;
      color: $j-c-disabled-text;
      border-color: $j-c-disabled;
      cursor: initial;
      box-shadow: $j-shadow-md;
      text-decoration: none;
    }
  }

  &--loading {
    display: flex;
    align-items: center;
    justify-items: center;

    .j-icon {
      width: $j-text-size-rg;
      height: $j-text-size-rg;
      margin-left: $j-size-0-5;
      stroke-width: 3px;

      @include j-animation-spin();
    }
  }
}
