.j-table {
  background-color: var(--j-c-background-f1);
  color: var(--j-c-text);
  width: 100%;
  margin-bottom: var(--j-space-8);
  border-radius: var(--j-border-radius-sm);
  line-height: 1.5;

  thead {
    tr {
      border-bottom: var(--j-border-width-lg) solid var(--j-c-primary);
    }
  }

  th {
    font-weight: bold;
    text-align: left;
    padding: var(--j-space-6);
    color: var(--j-c-text-emphasis);
  }

  td {
    padding: var(--j-space-6);
    vertical-align: middle;
  }

  tbody {
    tr {
      border-bottom: var(--j-border-width-sm) solid var(--j-c-slate-300);

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
